.whiteBg{
    background-color: white;
}
.lazy-wrapper{
    position: relative;
}
.lazy-wrapper svg, .lazy-wrapper img{
    position: absolute;
    top: 0;
    z-index: -1;
}
.dontLine{
    background-color: $red;
    width: 100%;
    height: 1rem;
    position: relative;
    margin-bottom: 1rem;
}
.doLine{
    background-color: $green;
    width: 100%;
    height: 1rem;
    position: relative;
    margin-bottom: 1rem;
}
.dontTitle{
    color: $red;
}
.doTitle{
    color: $green;
}
h1{
    margin-left: -0.75rem;
}
h2{
    margin-left: -0.5rem;
}
.hoverImg{
    & > .hoverImg_hide{
        opacity: 1;
    transition: $fastMotion;
    }
    &:hover > .hoverImg_hide{
        opacity: 0;
    transition: $fastMotion;
    }
    & .hoverImg_reveal{
        z-index: -4;
    }
} 
.smallest{
    position: relative;
    & > img{
        position: absolute;
        left: 50%;
        top: 50% !important;
        transform: translate(-50% , -50%);
        z-index: 1  !important;
    }
}
.logoMotion{
    position: fixed;
    bottom: 6rem;
    width: 18rem;
    left: 5rem;
    @include xxlScreen{
        left: calc(((100% - 1440px) / 2) + 5rem);
    }
    @include lScreen{
        display: none;
    }
}
.coloredHand{
    position: relative;
    &:hover &_svg>svg{
        transform: rotate(10deg);
        transform-origin: bottom center;
        transition: $mediumMotion;
    }
    &:hover &_info{
        opacity: 1;
        transition: $mediumMotion;
    }
    &_info{
        opacity: 0;
        position: absolute;
        top: 70%;
        left: 55%;
        transform: translate(-50% , -50%);
        padding-right: 5rem;
        transition: $mediumMotion;
    }
    &_title{
        margin-right: 3rem;
    }
    &_svg{
        & svg{
            padding-right: 5rem;
            transition: .5s transform ease;
            transform-origin: bottom center;
        }
        
    }
}
.accentColor{
    width: 100%;
    padding: 4rem;
    background-color: #FF5C35;
}
.colorProportion{
    & div{
        padding:6rem 2rem;
        text-align: center;
    }
}
.imgMotion{
    position: absolute;
    
}
.calculator{
    &_figure{
        & img{
            z-index: 1;
        }
    }
    &_horizontal , &_vertical{
        display: none;
    }
    & label{
        display: block;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    &_field{
        width: calc(50% - 1.25rem);
        display: inline-block;
    }
    & form{
        padding: 3rem;
    }
    & input[type=text]{
        width: 100%;
        appearance: none;
        border: 0;
        border-bottom: 1px solid grey;
        height: 4rem;
        padding: 3rem 1rem 2.5rem;
        background: none;
        line-height: 0;
        font-size: 2rem;
        border-radius: 1rem 1rem 0 0;
        transition: $fastMotion;
        &:hover{
            background-color: $lightgrey;
            transition: $fastMotion;
        }
        &:focus{
            outline: none;
            border-bottom: 1px solid $mainColor;
            background-color: $lightgrey;
            transition: $fastMotion;
        }
    }
    & span{
        float: right;
    }
    &_submit{
        margin-top: 3rem;
        appearance: none;
        border:0;
        width: 100%;
        height: 5rem;
        background-color: $mainColor;
        color: white;
        cursor: pointer;
        transition: $fastMotion;
        &:hover{
            background-color: lighten($mainColor, 10%);
            transition: $fastMotion;
        }
    }
    &_items{
        padding: 3rem;
        & p{
            padding: 1rem 0;
        }
        & h5{
            margin-bottom: 2rem;
        }
        & p:not(:last-child){
            border-bottom: 1px solid $lightgrey;
        }
    }
    &_image{
        background-color: $mainColor;
        position: relative;
        & > .calculator_figure{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            @include sScreen(){
                position: relative;
            }
        }
    }
    &_info{
        position: absolute;
            bottom: 0;
            width: 100%;
            padding: 3rem;
    }
}
ul{
    list-style: none;
}
.bullet{
    list-style: disc;
    & li{
        margin-right: 2rem;
        margin-bottom: 1rem;
    }
}