.toolBar {
  width: calc(1440px - 12rem);
  max-width: 1440px;
  position: fixed;
  top: 6rem;
  left: calc(((100% - 1440px) / 2) + 6rem);
  z-index: 10;
  @include xlScreen() {
    width: calc(100% - 12rem);
    left: 6rem;
  }
  @include mScreen() {
    width: calc(100% - 6rem);
    left: 3rem;
  }
  &_wrapper {
    display: grid;
    grid-template-columns: 31rem 9rem 9rem 7rem auto;
    grid-gap: 2rem;
    @include lScreen() {
      grid-template-columns: auto 9rem 7rem 7rem 7rem 25rem;
    }
    @include mScreen() {
      grid-template-columns: auto 9rem 3rem 3rem 3rem 25rem;
    }
  }
  &_logo {
    position: relative;
    z-index: 1000;
    width: 10rem;
    position: fixed;
    justify-self: right;
  }
  &_logoSvg {
    height: 7rem;
  }
  &_translate {
    align-self: center;
    @include lScreen() {
      float: left;
    }
  }
  &_logOut {
    align-self: center;
  }
  &_transtxt {
    display: inline-block;
    line-height: 2rem;
    position: relative;
    top: -1px;
  }
  &_transSwitch {
    background-color: white;
    width: 3.5rem;
    height: 2rem;
    display: inline-block;
    right: 50rem;
    cursor: pointer;
    margin-right: 0.5rem;
    border-radius: 1rem;
    transition: $fastMotion;
    &:hover {
      background-color: rgba(255, 255, 255, 0.5);
      transition: $fastMotion;
    }
    &--active {
      transition: $fastMotion;
      background-color: $green;
      &:hover {
        background-color: lighten($green, 10%);
        transition: $fastMotion;
      }
    }
  }
  &_transPin {
    width: 1rem;
    height: 1rem;
    background-color: black;
    margin: 0.5rem 0.5rem 0.5rem 2rem;
    transition: $fastMotion;
    border-radius: 50%;
    &--active {
      transition: $fastMotion;
      background-color: black;
      margin: 0.5rem 1.5rem 0.5rem 0.5rem;
    }
  }
  /*
  &_searchBox {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    right: 39rem;
  }
  &_searchButton {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    right: 39rem;
  }
  */
  &_search {
    align-self: center;
    justify-self: right;
  }
  &_hamIco {
    width: 8rem;
    height: 8rem;
    position: fixed;
    top: 6rem;
    left: 6rem;
    border-radius: 4rem;
    transition: $mediumMotion;
    cursor: pointer;
    @include xxlScreen() {
      left: calc(((100% - 1440px) / 2) + 6rem);
    }
    @include mScreen() {
      bottom: 3rem;
      left: 3rem;
    }
    &::after {
      content: "";
      width: 0rem;
      height: 0rem;
      position: absolute;
      top: 50%;
      left: 50%;
      border-radius: 4rem;
      transform: translate(-50%, -50%);
      background: white;
      transition: $mediumMotion;
    }
  }
  &_hamIco:hover {
    &::after {
      content: "";
      width: 8rem;
      height: 8rem;
      background: white;
      transition: $fastMotion;
    }
  }
  &_hamIco--open {
    &::after {
      content: "";
      width: 8rem;
      height: 8rem;
      transition: $fastMotion;
    }
  }
  &_line {
    width: 4rem;
    height: 0.125rem;
    background-color: black;
    top: 6rem;
    left: 4rem;
    position: absolute;
    transform: translate(-2rem, -2rem);
    z-index: 2;
    &::before {
      content: "";
      width: 4rem;
      height: 0.125rem;
      background-color: black;
      position: absolute;
      top: -1.25rem;
      transition: $mediumMotion;
    }
    &::after {
      content: "";
      width: 4rem;
      height: 0.125rem;
      background-color: black;
      position: absolute;
      top: 1.25rem;
      transition: $mediumMotion;
    }
  }
  &_line--open {
    &::before {
      top: 0rem;
      transition: $mediumMotion;
    }
    &::after {
      top: 0rem;
      transition: $mediumMotion;
    }
  }
  &_copyRight {
    position: absolute;
    width: 100%;
    text-align: right;
    bottom: 6rem;
    padding-right: 4rem;
    opacity: 0;
    transition: $fastMotion;
    & a {
      color: black;
      text-decoration: none;
    }
    @include mScreen() {
      bottom: 4.5rem;
    }
  }
  &_accordion {
    width: 100%;
    opacity: 0;
    transition: $fastMotion;
  }
  &_popup {
    width: 8rem;
    height: 8rem;
    background-color: #8fe0448e;
    position: fixed;
    top: 6rem;
    left: 6rem;
    transform-origin: bottom center;
    border-radius: 6rem;
    transition: $mediumMotion;
    overflow: hidden;
    backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    @include xxlScreen() {
      left: calc(((100% - 1440px) / 2) + 6rem);
    }
    @include mScreen() {
      bottom: 3rem;
      left: 3rem;
    }
  }
  &_popup--open {
    width: 60rem;
    height: calc(100vh - 6rem);
    bottom: 3rem;
    left: 3rem;
    border-radius: 0rem;
    transition: $mediumMotion;
    @include xxlScreen() {
      left: calc(((100% - 1440px) / 2) + 3rem);
    }
    @include mScreen() {
      width: calc(100% - 6rem);
    }
    @include mScreen() {
      width: 100%;
      height: 100vh;
      bottom: 0rem;
      left: 0rem;
    }
    & .header_accordion,
    & .header_copyRight {
      opacity: 1;
      transition: $slowMotion;
      transition-delay: 0.4s;
    }
  }
  &_menu {
    padding: 0rem 3rem 0 3rem;
    position: fixed;
    top: 15rem;
    width: 100%;
  }
  &_accordion {
    & h6 {
      font-weight: 300;
    }
  }
  &_item {
    list-style: none;
  }
  &_item {
    margin-left: 2rem;
    margin-bottom: 0.5rem;
    & a {
      font-size: 2rem;
      font-weight: 300;
      text-transform: capitalize;
      text-decoration: none;
      color: rgba(0, 0, 0, 0.7);
      transition: $fastMotion;
      &:hover {
        color: black;
        transition: $fastMotion;
      }
    }
  }
}
