@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');
@font-face {
  font-family: 'RamaGothicRounded';
  src: url('platform/fonts/english/RamaGothicRoundedE-SemiBold.eot');
  src: url('platform/fonts/english/RamaGothicRoundedE-SemiBold.eot?#iefix') format('embedded-opentype'),
      url('platform/fonts/english/RamaGothicRoundedE-SemiBold.woff2') format('woff2'),
      url('platform/fonts/english/RamaGothicRoundedE-SemiBold.woff') format('woff'),
      url('platform/fonts/english/RamaGothicRoundedE-SemiBold.svg#RamaGothicRoundedE-SemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'RamaGothicRounded';
  src: url('platform/fonts/english/RamaGothicRoundedE-Regular.eot');
  src: url('platform/fonts/english/RamaGothicRoundedE-Regular.eot?#iefix') format('embedded-opentype'),
      url('platform/fonts/english/RamaGothicRoundedE-Regular.woff2') format('woff2'),
      url('platform/fonts/english/RamaGothicRoundedE-Regular.woff') format('woff'),
      url('platform/fonts/english/RamaGothicRoundedE-Regular.svg#RamaGothicRoundedE-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Thin.eot");
  src: local("Anjoman-Thin"), local("Anjoman-Thin"),
    url("platform/fonts/farsi/eot/Anjoman-Thin.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Anjoman-Thin.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Anjoman-Thin.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Anjoman-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Light.eot");
  src: local("Anjoman-Light"), local("Anjoman-Light"),
    url("platform/fonts/farsi/eot/Anjoman-Light.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Anjoman-Light.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Anjoman-Light.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Anjoman-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Regular.eot");
  src: local("Anjoman-Regular"), local("Anjoman-Regular"),
    url("platform/fonts/farsi/eot/Anjoman-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Anjoman-Regular.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Anjoman-Regular.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Anjoman-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Medium.eot");
  src: local("Anjoman-Medium"), local("Anjoman-Medium"),
    url("platform/fonts/farsi/eot/Anjoman-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Anjoman-Medium.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Anjoman-Medium.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Anjoman-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-SemiBold.eot");
  src: local("Anjoman-SemiBold"), local("Anjoman-SemiBold"),
    url("platform/fonts/farsi/eot/Anjoman-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Anjoman-SemiBold.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Anjoman-SemiBold.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Anjoman-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Bold.eot");
  src: local("Anjoman-Bold"), local("Anjoman-Bold"),
    url("platform/fonts/farsi/eot/Anjoman-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("platform/fonts/farsi/woff2/Anjoman-Bold.woff2") format("woff2"),
    url("platform/fonts/farsi/woff/Anjoman-Bold.woff") format("woff"),
    url("platform/fonts/farsi/ttf/Anjoman-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

$enfont: 'Inter', sans-serif;
$fafont: "Anjoman";

@mixin type($weight, $size, $spacing, $leading, $case) {
  font-weight: $weight;
  font-size: $size;
  letter-spacing: $spacing;
  line-height: $leading;
  text-transform: $case;
}

%enType {
  font-family: $enfont;
}
%faType {
  font-family: $fafont !important;
  direction: rtl;
  text-align: right;
  text-transform: unset;
}

h1,
.h1 {
  @include type(normal, 16rem, -1.5, 1, uppercase);
  font-family: 'RamaGothicRounded';
}
h2,
.h2 {
  @include type(400, 12rem, -0.5, 1, capitalize);
  font-family: 'RamaGothicRounded';
  &::before{
    content: " ";
    height: 16rem;
    display: block;
    margin-top: -16rem;
    visibility: hidden;
    @include mScreen{
        height: 15rem;
        margin-top: -15rem;
    }
}
}
h3,
.h3 {
  @include type(400, 6rem, 0, auto, capitalize);
  @extend %enType;
}
h4,
.h4 {
  @include type(400, 4.25rem, 0.25, auto, capitalize);
  @extend %enType;
}
h5,
.h5 {
  @include type(400, 3rem, 0, auto, capitalize);
  @extend %enType;
}
h6,
.h6 {
  @include type(500, 2.5rem, 0.15, auto, capitalize);
  @extend %enType;
}
.subtitle1 {
  @include type(400, 2rem, 0.15, auto, capitalize);
  @extend %enType;
}
.subtitle2 {
  @include type(500, 1.75rem, 0.1, auto, capitalize);
  @extend %enType;
}
.body1 {
  @include type(400, 2rem, 0.5, 3rem, unset);
  @extend %enType;
}
.body2 {
  @include type(400, 1.75rem, 0.25, auto, unset);
  @extend %enType;
}
.button {
  @include type(500, 1.75rem, 1.25, auto, uppercase);
  @extend %enType;
}
.caption {
  @include type(400, 1.5rem, 0.4, auto, unset);
  @extend %enType;
}
.overline {
  @include type(300, 1.25rem, 1.5, auto, unset);
  @extend %enType;
}
a {
  @include type(400, 2rem, 0.5, auto, unset);
  @extend %enType;
  text-decoration: none;
  color: black;
  transition: $fastMotion;
  &:hover {
    color: grey;
    transition: $fastMotion;
  }
}
.fa {
  @extend %faType;
  display: none;
  &--show {
    display: block;
  }
}
.body1.fa{
  font-size: 1.9rem;
}
.center{
  text-align: center;
}
.faContent{
  .fa{
    display: block;
  }
}