@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 8px;
}

img, svg {
  display: block;
  width: 100%;
}

.br {
  border: 1px solid #F0F0F0;
}

main {
  width: 100%;
  overflow-x: hidden;
}

article {
  width: 100%;
  padding-top: 15.5rem;
}

.sSpace {
  margin-bottom: 1rem !important;
}

.mSpace {
  margin-bottom: 6rem !important;
}

.semiLSpace {
  margin-bottom: 12rem !important;
}

.lSpace {
  margin-bottom: 20rem !important;
}

.xlSpace {
  margin-bottom: 24rem !important;
}

.boxed {
  max-width: 1440px;
  padding: 0 6rem 0 39rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1024px) {
  .boxed {
    padding: 0 6rem;
  }
}

@media only screen and (max-width: 768px) {
  .boxed {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .boxed {
    padding: 0 2rem;
  }
}

.row {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 3rem;
  margin-bottom: 3rem;
}

.row--caption {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem;
}

@media only screen and (max-width: 768px) {
  .row {
    grid-template-columns: repeat(8, 1fr);
  }
}

@media only screen and (max-width: 600px) {
  .row {
    grid-template-columns: repeat(4, 1fr);
  }
}

.smallRow {
  max-width: 600px;
  margin: 0 auto;
}

.col-full {
  grid-column: span 12;
}

@media only screen and (max-width: 768px) {
  .col-full {
    grid-column: span 8;
  }
}

@media only screen and (max-width: 600px) {
  .col-full {
    grid-column: span 4;
  }
}

.col-twoThirds {
  grid-column: span 8;
}

@media only screen and (max-width: 768px) {
  .col-twoThirds {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 600px) {
  .col-twoThirds {
    grid-column: span 4;
  }
}

.col-half {
  grid-column: span 6;
}

@media only screen and (max-width: 768px) {
  .col-half {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 600px) {
  .col-half {
    grid-column: span 4;
  }
}

.col-third {
  grid-column: span 4;
}

@media only screen and (max-width: 768px) {
  .col-third {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 600px) {
  .col-third {
    grid-column: span 4;
  }
}

.col-quarter {
  grid-column: span 3;
}

@media only screen and (max-width: 768px) {
  .col-quarter {
    grid-column: span 4;
  }
}

@media only screen and (max-width: 600px) {
  .col-quarter {
    grid-column: span 2;
  }
}

.col-sixth {
  grid-column: span 2;
}

@media only screen and (max-width: 768px) {
  .col-sixth {
    grid-column: span 2;
  }
}

@media only screen and (max-width: 600px) {
  .col-sixth {
    grid-column: span 2;
  }
}

@font-face {
  font-family: 'RamaGothicRounded';
  src: url("platform/fonts/english/RamaGothicRoundedE-SemiBold.eot");
  src: url("platform/fonts/english/RamaGothicRoundedE-SemiBold.eot?#iefix") format("embedded-opentype"), url("platform/fonts/english/RamaGothicRoundedE-SemiBold.woff2") format("woff2"), url("platform/fonts/english/RamaGothicRoundedE-SemiBold.woff") format("woff"), url("platform/fonts/english/RamaGothicRoundedE-SemiBold.svg#RamaGothicRoundedE-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'RamaGothicRounded';
  src: url("platform/fonts/english/RamaGothicRoundedE-Regular.eot");
  src: url("platform/fonts/english/RamaGothicRoundedE-Regular.eot?#iefix") format("embedded-opentype"), url("platform/fonts/english/RamaGothicRoundedE-Regular.woff2") format("woff2"), url("platform/fonts/english/RamaGothicRoundedE-Regular.woff") format("woff"), url("platform/fonts/english/RamaGothicRoundedE-Regular.svg#RamaGothicRoundedE-Regular") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Thin.eot");
  src: local("Anjoman-Thin"), local("Anjoman-Thin"), url("platform/fonts/farsi/eot/Anjoman-Thin.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Anjoman-Thin.woff2") format("woff2"), url("platform/fonts/farsi/woff/Anjoman-Thin.woff") format("woff"), url("platform/fonts/farsi/ttf/Anjoman-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Light.eot");
  src: local("Anjoman-Light"), local("Anjoman-Light"), url("platform/fonts/farsi/eot/Anjoman-Light.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Anjoman-Light.woff2") format("woff2"), url("platform/fonts/farsi/woff/Anjoman-Light.woff") format("woff"), url("platform/fonts/farsi/ttf/Anjoman-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Regular.eot");
  src: local("Anjoman-Regular"), local("Anjoman-Regular"), url("platform/fonts/farsi/eot/Anjoman-Regular.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Anjoman-Regular.woff2") format("woff2"), url("platform/fonts/farsi/woff/Anjoman-Regular.woff") format("woff"), url("platform/fonts/farsi/ttf/Anjoman-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Medium.eot");
  src: local("Anjoman-Medium"), local("Anjoman-Medium"), url("platform/fonts/farsi/eot/Anjoman-Medium.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Anjoman-Medium.woff2") format("woff2"), url("platform/fonts/farsi/woff/Anjoman-Medium.woff") format("woff"), url("platform/fonts/farsi/ttf/Anjoman-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-SemiBold.eot");
  src: local("Anjoman-SemiBold"), local("Anjoman-SemiBold"), url("platform/fonts/farsi/eot/Anjoman-SemiBold.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Anjoman-SemiBold.woff2") format("woff2"), url("platform/fonts/farsi/woff/Anjoman-SemiBold.woff") format("woff"), url("platform/fonts/farsi/ttf/Anjoman-SemiBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Anjoman";
  src: url("platform/fonts/farsi/eot/Anjoman-Bold.eot");
  src: local("Anjoman-Bold"), local("Anjoman-Bold"), url("platform/fonts/farsi/eot/Anjoman-Bold.eot?#iefix") format("embedded-opentype"), url("platform/fonts/farsi/woff2/Anjoman-Bold.woff2") format("woff2"), url("platform/fonts/farsi/woff/Anjoman-Bold.woff") format("woff"), url("platform/fonts/farsi/ttf/Anjoman-Bold.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

h3,
.h3, h4,
.h4, h5,
.h5, h6,
.h6, .subtitle1, .subtitle2, .body1, .body2, .button, .caption, .overline, a {
  font-family: "Inter", sans-serif;
}

.fa {
  font-family: "Anjoman" !important;
  direction: rtl;
  text-align: right;
  text-transform: unset;
}

h1,
.h1 {
  font-weight: normal;
  font-size: 16rem;
  letter-spacing: -1.5;
  line-height: 1;
  text-transform: uppercase;
  font-family: 'RamaGothicRounded';
}

h2,
.h2 {
  font-weight: 400;
  font-size: 12rem;
  letter-spacing: -0.5;
  line-height: 1;
  text-transform: capitalize;
  font-family: 'RamaGothicRounded';
}

h2::before,
.h2::before {
  content: " ";
  height: 16rem;
  display: block;
  margin-top: -16rem;
  visibility: hidden;
}

@media only screen and (max-width: 768px) {
  h2::before,
  .h2::before {
    height: 15rem;
    margin-top: -15rem;
  }
}

h3,
.h3 {
  font-weight: 400;
  font-size: 6rem;
  letter-spacing: 0;
  line-height: auto;
  text-transform: capitalize;
}

h4,
.h4 {
  font-weight: 400;
  font-size: 4.25rem;
  letter-spacing: 0.25;
  line-height: auto;
  text-transform: capitalize;
}

h5,
.h5 {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: 0;
  line-height: auto;
  text-transform: capitalize;
}

h6,
.h6 {
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0.15;
  line-height: auto;
  text-transform: capitalize;
}

.subtitle1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.15;
  line-height: auto;
  text-transform: capitalize;
}

.subtitle2 {
  font-weight: 500;
  font-size: 1.75rem;
  letter-spacing: 0.1;
  line-height: auto;
  text-transform: capitalize;
}

.body1 {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.5;
  line-height: 3rem;
  text-transform: unset;
}

.body2 {
  font-weight: 400;
  font-size: 1.75rem;
  letter-spacing: 0.25;
  line-height: auto;
  text-transform: unset;
}

.button {
  font-weight: 500;
  font-size: 1.75rem;
  letter-spacing: 1.25;
  line-height: auto;
  text-transform: uppercase;
}

.caption {
  font-weight: 400;
  font-size: 1.5rem;
  letter-spacing: 0.4;
  line-height: auto;
  text-transform: unset;
}

.overline {
  font-weight: 300;
  font-size: 1.25rem;
  letter-spacing: 1.5;
  line-height: auto;
  text-transform: unset;
}

a {
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.5;
  line-height: auto;
  text-transform: unset;
  text-decoration: none;
  color: black;
  transition: 0.2s all ease;
}

a:hover {
  color: grey;
  transition: 0.2s all ease;
}

.fa {
  display: none;
}

.fa--show {
  display: block;
}

.body1.fa {
  font-size: 1.9rem;
}

.center {
  text-align: center;
}

.faContent .fa {
  display: block;
}

.accent {
  color: #ff5c39;
}

.header {
  position: relative;
  z-index: 200;
}

.header_close--open {
  width: 100%;
  height: 100vh;
  position: fixed;
}

.header_hamIco {
  width: 7rem;
  height: 7rem;
  position: fixed;
  top: 4rem;
  left: 4.5rem;
  transition: 0.5s all ease;
  cursor: pointer;
  border-radius: 50%;
}

@media only screen and (min-width: 1440px) {
  .header_hamIco {
    left: calc(((100% - 1440px) / 2) + 5rem);
  }
}

@media only screen and (max-width: 1024px) {
  .header_hamIco {
    top: unset;
    bottom: 4rem;
    background-color: #ff5c39;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .header_hamIco {
    bottom: 3rem;
    left: 3rem;
  }
}

.header_hamIco--open::after {
  content: "";
  width: 7rem;
  height: 7rem;
  transition: 0.2s all ease;
}

.header_line {
  width: 4rem;
  height: 0.25rem;
  background-color: black;
  top: 5.5rem;
  left: 3.5rem;
  position: absolute;
  transform: translate(-2rem, -2rem);
  z-index: 2;
}

.header_line::before {
  content: "";
  width: 4rem;
  height: 0.25rem;
  background-color: black;
  position: absolute;
  top: -1.25rem;
  transition: 0.5s all ease;
}

.header_line::after {
  content: "";
  width: 4rem;
  height: 0.25rem;
  background-color: black;
  position: absolute;
  top: 1.25rem;
  transition: 0.5s all ease;
}

.header_line--open::before {
  top: 0rem;
  transition: 0.5s all ease;
}

.header_line--open::after {
  top: 0rem;
  transition: 0.5s all ease;
}

.header_copyRight {
  position: absolute;
  width: 100%;
  text-align: left;
  bottom: 6rem;
  padding-left: 4rem;
  transition: 0.2s all ease;
}

.header_copyRight a {
  color: black;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .header_copyRight {
    bottom: 3.5rem;
    text-align: right;
    padding-left: unset;
    padding-right: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .header_copyRight {
    bottom: 4.5rem;
  }
}

.header_accordion {
  width: 100%;
}

.header_popup {
  width: 60rem;
  height: calc(100vh - 6rem);
  background-color: white;
  position: fixed;
  top: 3rem;
  left: 3rem;
  opacity: 0;
  visibility: hidden;
  transform-origin: bottom center;
  transition: 0.5s all ease;
  overflow: hidden;
  box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 1440px) {
  .header_popup {
    left: calc(((100% - 1440px) / 2) + 3rem);
  }
}

@media only screen and (max-width: 1024px) {
  .header_popup {
    height: 100vh;
    bottom: 0rem;
    left: 0rem;
    top: 0;
  }
}

@media only screen and (max-width: 768px) {
  .header_popup {
    width: 100%;
    height: 100vh;
    bottom: 0rem;
    left: 0rem;
    top: 0;
  }
}

.header_popup--open {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all ease;
}

.header_menu {
  padding: 0rem 3rem 0 3rem;
  position: fixed;
  top: 10rem;
  width: 60rem;
}

@media only screen and (max-width: 1024px) {
  .header_menu {
    top: 3rem;
  }
}

@media only screen and (max-width: 768px) {
  .header_menu {
    width: 100%;
  }
}

.header_accordion h6 {
  font-weight: 300;
}

.header_accordion h6 a {
  font-weight: 300;
}

.header_item {
  list-style: none;
}

.header_item {
  margin-left: 2rem;
  margin-bottom: 0.5rem;
}

.header_item a {
  font-size: 2rem;
  font-weight: 300;
  text-transform: capitalize;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  transition: 0.2s all ease;
}

.header_item a:hover {
  color: black;
  transition: 0.2s all ease;
}

.footer {
  width: 100%;
  height: 30rem;
}

.index {
  margin: 17rem 0;
  display: inline-block;
  text-align: left;
  width: 26rem;
  position: fixed;
  left: calc(((100% - 1440px) / 2) + 6rem);
  z-index: 10;
  top: 0;
}

@media only screen and (max-width: 1440px) {
  .index {
    left: 6rem;
  }
}

@media only screen and (max-width: 1024px) {
  .index {
    left: unset;
    position: relative;
    margin: unset;
    margin-top: unset;
    margin-left: unset;
    min-width: 26rem;
    overflow: hidden;
  }
}

@media only screen and (max-width: 768px) {
  .index {
    left: unset;
  }
}

@media only screen and (max-width: 600px) {
  .index {
    position: relative;
    width: 100%;
    grid-column: 1/3;
  }
}

.index_fixTitle {
  display: block;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .index_fixTitle {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .index_wrapper {
    position: fixed;
    background-color: #ffffff;
    border-radius: 1rem;
    width: 25rem;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  }
}

@media only screen and (max-width: 600px) {
  .index_wrapper {
    width: 100%;
    position: relative;
    box-shadow: unset;
  }
}

.index_dynamicTitle {
  display: none;
  text-transform: uppercase;
}

@media only screen and (max-width: 1024px) {
  .index_dynamicTitle {
    display: block;
    padding: 1rem 2rem;
    line-height: 3rem;
    cursor: pointer;
  }
  .index_dynamicTitle::after {
    content: url(platform/icons/down.svg);
    width: 3rem;
    height: 3rem;
    position: absolute;
    right: 2rem;
    transition: 0.5s all ease;
  }
  .index_dynamicTitle--open::after {
    transform: rotate(180deg);
    transition: 0.5s all ease;
  }
}

@media only screen and (max-width: 600px) {
  .index_dynamicTitle {
    padding: 1rem 0rem;
  }
  .index_dynamicTitle::after {
    right: 0rem;
  }
}

.index_nav {
  transition: 0.5s all ease;
  overflow: hidden;
}

@media only screen and (max-width: 1024px) {
  .index_nav {
    max-height: 0;
  }
}

.index_nav--open {
  max-height: 100vh;
  transition: 0.5s all ease;
}

.toc > .toc-list {
  position: relative;
  height: 100%;
  overflow-y: hidden;
}

.toc-list li {
  list-style: none;
}

@media only screen and (max-width: 1024px) {
  .toc-list li {
    border-left: unset;
  }
}

.is-active-link {
  color: black;
}

.toc-list {
  margin: 1rem 0;
  text-decoration: none;
}

@media only screen and (max-width: 1024px) {
  .toc-list {
    margin: 0;
  }
}

a.toc-link {
  color: rgba(0, 0, 0, 0.7);
  height: 100%;
  font-size: 2rem;
  line-height: 3rem;
  display: block;
  padding: 0.5rem 0;
  border-radius: 0.5rem;
  transition: 0.5s all ease;
  text-decoration: none;
  text-transform: capitalize;
  position: relative;
}

a.toc-link:hover {
  color: #ff5c39;
  transition: 0.5s all ease;
}

@media only screen and (max-width: 1024px) {
  a.toc-link {
    padding: 1rem;
    margin: 0.5rem;
  }
  a.toc-link:hover {
    color: black;
    background-color: #ffefec;
    transition: 0.5s all ease;
  }
}

.is-collapsible {
  max-height: 1000px;
  overflow: hidden;
  transition: 0.5s all ease;
}

.is-collapsed {
  max-height: 0;
  transition: 0.5s all ease;
}

.is-position-fixed {
  position: fixed;
  top: 10rem;
}

.is-active-link {
  color: #ff5c39 !important;
  margin-left: 2rem;
}

.is-active-link:before {
  content: '';
  width: 1rem;
  height: 1rem;
  background-color: #ff5c39;
  position: absolute;
  top: 1.5rem;
  left: -2rem;
  border-radius: 50%;
}

@media only screen and (max-width: 1024px) {
  .is-active-link {
    background-color: #ffefec;
    color: black !important;
  }
}

.node-name--H1 {
  text-transform: uppercase;
  font-weight: 300;
}

.node-name--H2 {
  font-size: 1.75rem !important;
}

/* table of content end*/
.accordion_list {
  list-style: none;
  width: 100%;
}

.accordion_header {
  cursor: pointer;
  padding: 2rem 0;
}

.accordion_header h6 {
  display: inline-block;
}

.accordion_body {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.2s all ease;
}

.accordion_body--active {
  max-height: unset;
  opacity: 1;
  padding: 1rem 0rem;
  transition: 0.2s all ease;
}

.accordion_icon {
  width: 3rem;
  height: 3rem;
  float: right;
  position: relative;
}

.accordion_lineI {
  height: 0.25rem;
  width: 2.25rem;
  background-color: black;
  position: absolute;
  top: 1.375rem;
  left: 0.375rem;
  border-radius: 0.25rem;
}

.accordion_lineII {
  height: 2.25rem;
  width: 0.25rem;
  background-color: black;
  position: absolute;
  left: 1.375rem;
  top: 0.375rem;
  transition: .3s all ease;
  border-radius: 0.25rem;
}

.accordion_lineII--open {
  height: 0px !important;
  transition: .3s all ease;
}

.accordion_null {
  padding: 2rem 0;
}

.imgComparison img {
  display: block;
}

.imgComparison {
  width: 100%;
  position: relative;
  overflow: hidden;
  margin-bottom: 6rem;
}

.imgComparison__wrapper {
  display: inline-block;
  width: 100%;
  position: relative;
}

.imgComparison__resizableFrame {
  width: 0%;
  height: 100%;
  position: absolute;
  display: inline-block;
  top: 0;
  overflow-x: hidden;
}

.imgComparison__fixedFrame {
  position: relative;
  width: 100%;
}

.imgComparison__silder {
  appearance: none;
  -webkit-appearance: none;
  position: relative;
  width: 50%;
  left: 50%;
  transform: translateX(-50%);
  height: 1px;
  background: gray;
  outline: none;
  margin: 6rem 0 6rem 0;
}

.imgComparison__silder::-webkit-slider-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  background: black;
  border-radius: 50%;
  cursor: pointer;
  transition: .3s all ease;
}

.imgComparison__silder::-webkit-slider-thumb:hover {
  background: #ff5c39;
  transition: .3s all ease;
}

.imgComparison__silder::-moz-range-thumb {
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 8px;
  border: 1px solid #ff5c39;
  background: white;
  cursor: pointer;
}

.whiteBg {
  background-color: white;
}

.lazy-wrapper {
  position: relative;
}

.lazy-wrapper svg, .lazy-wrapper img, .lazy-wrapper > div {
  position: absolute;
  top: 0;
  z-index: -1;
}

.dontLine {
  background-color: #991329;
  width: 100%;
  height: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.doLine {
  background-color: #4D7123;
  width: 100%;
  height: 1rem;
  position: relative;
  margin-bottom: 1rem;
}

.dontTitle {
  color: #991329;
}

.doTitle {
  color: #4D7123;
}

h1 {
  margin-left: -0.75rem;
}

h2 {
  margin-left: -0.5rem;
}

.hoverImg > .hoverImg_hide {
  opacity: 1;
  transition: 0.2s all ease;
}

.hoverImg:hover > .hoverImg_hide {
  opacity: 0;
  transition: 0.2s all ease;
}

.hoverImg .hoverImg_reveal {
  z-index: -4;
}

.smallest {
  position: relative;
}

.smallest > img {
  position: absolute;
  left: 50%;
  top: 50% !important;
  transform: translate(-50%, -50%);
  z-index: 1  !important;
}

.logoMotion {
  position: fixed;
  bottom: 6rem;
  width: 18rem;
  left: 5rem;
}

@media only screen and (min-width: 1440px) {
  .logoMotion {
    left: calc(((100% - 1440px) / 2) + 5rem);
  }
}

@media only screen and (max-width: 1024px) {
  .logoMotion {
    display: none;
  }
}

.coloredHand {
  position: relative;
}

.coloredHand:hover .coloredHand_svg > svg {
  transform: rotate(10deg);
  transform-origin: bottom center;
  transition: 0.5s all ease;
}

.coloredHand:hover .coloredHand_info {
  opacity: 1;
  transition: 0.5s all ease;
}

.coloredHand_info {
  opacity: 0;
  position: absolute;
  top: 70%;
  left: 55%;
  transform: translate(-50%, -50%);
  padding-right: 5rem;
  transition: 0.5s all ease;
}

.coloredHand_title {
  margin-right: 3rem;
}

.coloredHand_svg svg {
  padding-right: 5rem;
  transition: .5s transform ease;
  transform-origin: bottom center;
}

.accentColor {
  width: 100%;
  padding: 4rem;
  background-color: #FF5C35;
}

.colorProportion div {
  padding: 6rem 2rem;
  text-align: center;
}

.imgMotion {
  position: absolute;
}

.calculator_figure img {
  z-index: 1;
}

.calculator_horizontal, .calculator_vertical {
  display: none;
}

.calculator label {
  display: block;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.calculator_field {
  width: calc(50% - 1.25rem);
  display: inline-block;
}

.calculator form {
  padding: 3rem;
}

.calculator input[type=text] {
  width: 100%;
  appearance: none;
  border: 0;
  border-bottom: 1px solid grey;
  height: 4rem;
  padding: 3rem 1rem 2.5rem;
  background: none;
  line-height: 0;
  font-size: 2rem;
  border-radius: 1rem 1rem 0 0;
  transition: 0.2s all ease;
}

.calculator input[type=text]:hover {
  background-color: #F0F0F0;
  transition: 0.2s all ease;
}

.calculator input[type=text]:focus {
  outline: none;
  border-bottom: 1px solid #ff5c39;
  background-color: #F0F0F0;
  transition: 0.2s all ease;
}

.calculator span {
  float: right;
}

.calculator_submit {
  margin-top: 3rem;
  appearance: none;
  border: 0;
  width: 100%;
  height: 5rem;
  background-color: #ff5c39;
  color: white;
  cursor: pointer;
  transition: 0.2s all ease;
}

.calculator_submit:hover {
  background-color: #ff866c;
  transition: 0.2s all ease;
}

.calculator_items {
  padding: 3rem;
}

.calculator_items p {
  padding: 1rem 0;
}

.calculator_items h5 {
  margin-bottom: 2rem;
}

.calculator_items p:not(:last-child) {
  border-bottom: 1px solid #F0F0F0;
}

.calculator_image {
  background-color: #ff5c39;
  position: relative;
}

.calculator_image > .calculator_figure {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .calculator_image > .calculator_figure {
    position: relative;
  }
}

.calculator_info {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 3rem;
}

ul {
  list-style: none;
}

.bullet {
  list-style: none;
}

.bullet li {
  position: relative;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

.bullet li::before {
  content: '';
  position: absolute;
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
  width: .75rem;
  height: .75rem;
  border-radius: 50%;
  background-color: #ff5c39;
}

.orangeBg {
  background-color: #ff5c39;
}

.darkBody {
  background-color: black;
  color: white;
}

.darkBody .header_line {
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .darkBody .header_line {
    background-color: black;
  }
}

.darkBody .header_line::before, .darkBody .header_line::after {
  background-color: white;
}

@media only screen and (max-width: 1024px) {
  .darkBody .header_line::before, .darkBody .header_line::after {
    background-color: black;
  }
}

.darkBody .header_line--open {
  background-color: black;
}

.darkBody .header_line--open::before, .darkBody .header_line--open::after {
  background-color: black;
}

.darkBody .header_popup {
  background-color: #ff5c39;
  color: black;
}

.darkBody .header_popup a {
  color: black;
}

.darkBody a {
  color: white;
}

.darkBody a:hover {
  opacity: .6;
}

.darkBody .index p {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .darkBody .index p {
    color: black;
  }
}

.darkBody .index a {
  color: white;
}

@media only screen and (max-width: 1024px) {
  .darkBody .index a {
    color: black;
  }
}

.darkBody .index a:hover {
  opacity: 1;
  color: #ff5c39;
}

.darkBody .toolBar_logoSvg {
  fill: white;
}

@media only screen and (max-width: 600px) {
  .darkBody .toolBar_logoSvg {
    fill: black;
  }
}

.darkBody article {
  padding-top: 6rem;
}

@media only screen and (max-width: 1024px) {
  .darkBody article {
    padding-top: 15.5rem;
  }
}

@media only screen and (max-width: 600px) {
  .darkBody article {
    padding-top: 20.5rem;
  }
}

.toolBar {
  width: 100%;
  max-width: 1440px;
  position: fixed;
  padding: 0 6rem;
  height: 15rem;
  z-index: 10;
  left: 50%;
  transform: translateX(-50%);
  /*
  &_searchBox {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    right: 39rem;
  }
  &_searchButton {
    width: 2rem;
    height: 2rem;
    background-color: white;
    position: fixed;
    right: 39rem;
  }
  */
}

@media only screen and (max-width: 768px) {
  .toolBar {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 600px) {
  .toolBar {
    height: auto;
    padding: 0 2rem;
    background-color: white;
    box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.1);
  }
}

.toolBar_wrapper {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: auto 9.5rem;
  grid-gap: 2rem;
  margin-left: 33rem;
}

@media only screen and (max-width: 1024px) {
  .toolBar_wrapper {
    grid-template-columns: 9.5rem 1fr 25rem;
    margin-left: unset;
  }
}

@media only screen and (max-width: 600px) {
  .toolBar_wrapper {
    grid-template-columns: 9.5rem 1fr;
    padding: 1rem 0;
  }
}

.toolBar_tools {
  padding: 1rem 0;
}

@media only screen and (max-width: 1024px) {
  .toolBar_tools {
    justify-self: right;
  }
}

.toolBar_tools > div {
  float: left;
  margin-right: 2rem;
}

@media only screen and (max-width: 600px) {
  .toolBar_tools > div {
    margin-left: 2rem;
    margin-right: 0;
  }
}

.toolBar_logout {
  display: none;
}

.toolBar_logout img {
  width: 3rem;
  display: none;
}

@media only screen and (max-width: 768px) {
  .toolBar_logout img {
    display: block;
  }
}

.toolBar_logout span {
  display: block;
  line-height: 3rem;
}

@media only screen and (max-width: 768px) {
  .toolBar_logout span {
    display: none;
  }
}

.toolBar_search {
  display: none;
}

.toolBar_search img {
  width: 3rem;
  display: none;
}

@media only screen and (max-width: 768px) {
  .toolBar_search img {
    display: block;
  }
}

.toolBar_search span {
  display: block;
  line-height: 3rem;
}

@media only screen and (max-width: 768px) {
  .toolBar_search span {
    display: none;
  }
}

.toolBar_logo {
  position: relative;
  z-index: 1000;
  height: 5rem;
  justify-self: right;
}

@media only screen and (max-width: 1024px) {
  .toolBar_logo {
    grid-column: 1/2;
    grid-row: 1;
  }
}

.toolBar_logoSvg {
  height: 5rem;
}

.toolBar_translate {
  position: relative;
}

@media only screen and (max-width: 1024px) {
  .toolBar_translate {
    float: left;
  }
}

.toolBar_transtxt {
  display: inline-block;
  line-height: 3rem;
}

.toolBar_transSwitch {
  background-color: #F0F0F0;
  width: 3.5rem;
  height: 2rem;
  display: inline-block;
  cursor: pointer;
  margin-right: 0.5rem;
  border-radius: 1rem;
  position: relative;
  top: .25rem;
  transition: 0.2s all ease;
}

.toolBar_transSwitch:hover {
  background-color: #d1d1d1;
  transition: 0.2s all ease;
}

.toolBar_transSwitch--active {
  transition: 0.2s all ease;
  background-color: #ff5c39;
}

.toolBar_transSwitch--active:hover {
  background-color: #ff3a10;
  transition: 0.2s all ease;
}

.toolBar_transPin {
  width: 1rem;
  height: 1rem;
  background-color: black;
  margin: 0.5rem 2rem 0.5rem 0.5rem;
  transition: 0.2s all ease;
  border-radius: 50%;
}

.toolBar_transPin--active {
  transition: 0.2s all ease;
  background-color: black;
  margin: 0.5rem 0.5rem 0.5rem 2rem;
}

.toolBar_search {
  align-self: center;
  justify-self: right;
}

.toolBar--special .toolBar_logo {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .toolBar--special .toolBar_logo {
    display: block;
  }
}

.toolBar--special .toolBar_translate {
  display: none;
}

.tab {
  width: 100%;
}

.tab__list {
  margin-top: 3rem;
  display: inline-block;
  position: relative;
}

.tab__item {
  display: inline-block;
  padding: 2rem;
  transition: unset;
  cursor: pointer;
  color: grey;
}

.tab__item--active {
  border-bottom: 2px solid #ff5c39;
  color: black;
}

.tab__contents {
  width: 100%;
}

.tab__content {
  display: none;
  width: 100%;
}

.tab__content--active {
  display: block;
}

.slideshow-container {
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 1rem;
  margin: 2rem;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  user-select: none;
}

.slideShow a img {
  width: 3rem;
}

.slideShow a {
  background-color: #ff5c39;
  border-radius: 50%;
}

.slideShow a:hover {
  background-color: #ff9f8b;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@keyframes fade {
  from {
    opacity: .4;
  }
  to {
    opacity: 1;
  }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next, .text {
    font-size: 11px;
  }
}
